body {
  -webkit-print-color-adjust: exact;
}

@page {
  margin: 0;
  size: A4 portrait;
}

#app {
  width: 210mm;
  height: 297mm;
}

.obi {
  align-items: center;
  justify-content: flex-end;
  background-color: #525254;
  height: 10mm;
  display: flex;
}

.item {
  position: relative;
  height: 142mm;
  padding: 6mm 8mm;

  &:nth-child(even) {
    break-after: page;
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.item-bg {
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 180px center;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
}

.contents {
  height: 116mm;
  padding: 0 15mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo__icon-wrapper {
  width: 15mm;
  height: 15mm;
  border-radius: 50%;
  margin-right: 2mm;
  overflow: hidden;
}

.userInfo__class {
  font-size: 18px;
}

.userInfo__name {
  font-size: 24px;
  font-weight: bold;
}

.eventMeta {
  margin-top: 24mm;
}

.eventMeta__title {
  font-size: 18px;
}

.eventMeta__subTitle {
  font-size: 14px;
  margin-top: 2mm;
}

.obi--under {
  text-align: right;
  padding-right: 2.5mm;
  small {
    font-size: 10px;
    color: #fff;
  }
}

.item--staff {
  .item-bg {
    filter: hue-rotate(160deg);
  }
  .obi {
    background-color: #ef382b;
  }
}

.item--lt {
  .obi {
    background-color: #009edf;
  }
}

.item--guest {
  .item-bg {
    filter: grayscale(100%);
  }
}

#printButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #000;
  padding: 8px 16px;
  transition: all 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.link__user {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: 1px solid #000;
  padding: 8px 16px;
  transition: all 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

@media print {
  #printButton {
    display: none !important;
  }
  .link__user {
    display: none !important;
  }
}
